/* div { border: solid red 1px; } */

body {
    margin:0;  
    font-family: Roboto, Helvetica, sans-serif;
}

/* Container which includes header AND welcomebox */
.container-one { 
    background-color: rgb(139, 184, 214);
    padding: 10px 10px;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 0px 200px 30px 200px;
}

.welcomebox {
    display: flex;
    justify-content: space-between;
    padding: 0px 200px;   
}

.welcomebox img {
    height: auto;
    width: 385px;
    object-fit: cover;
    flex: 1;
}

.welcomebox h1 {
    font-size: 48px;
    font-weight: extra-bold;
}

.welcometext {
    color: #F9FAF8;
}

.header ul {
    list-style: none;
    margin:0;
    padding:0;
    display: flex;
    gap: 30px;
}

.header a {
    text-decoration: none;
    font-size: 18px;
    color: #242424;
}

button {
    width:100px;
    background-color: blue;
    color: #F9FAF8;
    border: none;
    border-radius: 7px;
    padding: 5px 10px;
    font-weight: bold;
}

/* includes example picture boxes */
.container-two {
    padding: 20px 210px 50px 210px;
    text-align: center;
}

.example {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.example img {
    border: solid blue 2px;
    border-radius: 5px;
}

.examplepicbox {
    flex: 1;
}

.examplepicbox p {
    color: grey;
    font-size: 13px;
    font-style: italic;
}